.head-dist-h {
  text-align: center;
  color: #000000;
  background-color: #ffffff00;
  position: absolute;
  /* top: 48%; */
  bottom: 40%;

  width: 100%;
  z-index: 998;
}

.head-dist-h .logoImg {
  width: 250px;
  margin: auto;
}

.head-lions-i,
.head-dist-num {
  color: #fff;
  font-weight: 700;
  text-align: left;
  text-shadow: 0.1em 0.1em 0 hsl(200 50% 30%);
}

.head-dist-h > a > img {
  height: 100%;
}

.head-dist-h > div {
  /* min-width: 60vw; */
}

.head-lions-i {
  font-size: 2.5rem;
  font-weight: 600;
  /* color: rgba(29, 60, 122, 0.93); */
}

.head-dist-num {
  font-size: 1.5rem;
  font-weight: 550;
}

@media screen and (max-width: 900px) {
  .head-dist-h {
    bottom: 15%;
  }
  .head-dist-h .logoImg {
    width: 150px;
  }
  .head-lions-i,
  .head-dist-num {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .head-dist-h {
    bottom: 17%;
  }
}

@media screen and (max-width: 480px) {
  .head-dist-h {
    bottom: 1%;
  }
  .head-dist-h .logoImg {
    width: 80px;
  }
  .head-lions-i,
  .head-dist-num {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 280px) {
  .head-dist-h {
    /* top: 13%; */
  }
  .head-dist-h .logoImg {
    width: 80px;
  }
  .head-lions-i,
  .head-dist-num {
    font-size: 1rem;
  }
}
