.team-h {
  font-size: 42px;
  font-weight: bolder;
  padding: 2rem 0;
  text-align: center;
}
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 4rem 1rem;
  overflow: hidden;
  gap: 5rem 2rem;
}

.profile-card {
  width: 350px;
  height: 400px;
  background-color: #fff;
  /* border: 2.5px solid rgba(29, 60, 122, 0.93); */
  border-radius: 1rem;
  border: 2.5px solid rgba(62, 108, 237, 0.85);
}

.profile-card .img {
  border-radius: 1rem;
  height: 260px;
    border-bottom: 5px solid rgba(62, 108, 237, 0.85);
}

.img img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.caption {
  text-align: center;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 21px;
  color: rgba(0, 0, 0, 0.831);
  margin: 0.7rem 0;
}

.caption h4 {
  margin: 0;
  color: rgba(63, 59, 59, 0.8);
}
.caption p {
  font-size: 16px;
  color: #0c52a1;
  margin: 2px 0 9px 0;
}
@media only screen and (max-width: 1150px) {
  .profile-card {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .img img {
    width: 100%;
    height: 230px;
  }

  .profile-card {
    height: 340px;
  }
}
