.imgSlider {
  position: relative;
  padding-top: 75%;
}

.imgSlider > .hOQiSy {
  width: 100% !important;
}

.imgSlider > article {
  width: 100% !important;
  position: absolute;
  top: 0;
}

.imgSlider > svg {
  color: #fff !important;
}

.imgSlider > article > .epKbGN > .hCJOJS {
  line-height: 0 !important;
  background: #8e8e8e91 !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(6px) !important;
  -webkit-backdrop-filter: blur(6px) !important;
}

.hCJOJS > svg {
  color: #fff !important;
}

.imgSlider > article > div:nth-child(2) {
  top: 50% !important;
  z-index: 999;
}

.imgSlide {
  position: relative;
  padding-top: 75%;
}

.imgSlide > img {
  object-fit: cover;
  position: absolute;
  top: 0;
}

.slideOverlay {
  position: relative;
}

.gQPiQM {
  display: none;
}
.slideOverlay:before {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.hero-text {
  background-color: rgba(29, 60, 122, 0.75);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  backdrop-filter: blur(30px);
  border-radius: 1rem;
  width: fit-content;
  padding: 2rem 4rem;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .imgSlider > article > div:nth-child(2) {
    top: 35% !important;
  }
}

@media only screen and (max-width: 480px) {
  .imgSlider > article > div:nth-child(2) {
    top: 23% !important;
  }
}
