.imgSlider {
  position: relative;
  padding-top: 75%;
}

.imgSlider>.hOQiSy {
  width: 100% !important;
}

.imgSlider>article {
  width: 100% !important;
  position: absolute;
  top: 0;
}

.imgSlider>svg {
  color: #fff !important;
}

.imgSlider>article>.epKbGN>.hCJOJS {
  line-height: 0 !important;
  background: #8e8e8e91 !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(6px) !important;
  -webkit-backdrop-filter: blur(6px) !important;
}

.hCJOJS>svg {
  color: #fff !important;
}

.imgSlider>article>div:nth-child(2) {
  top: 50% !important;
  z-index: 999;
}

.imgSlide {
  position: relative;
  padding-top: 75%;
}

.imgSlide>img {
  object-fit: cover;
  position: absolute;
  top: 0;
}

.imgSlide:before {
  background: #000;
  background: linear-gradient(0deg, rgb(0 0 0 / 84%) 0, rgb(0 0 0 / 74%) 10%, rgba(0, 0, 0, 0) 63%);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
  z-index: 9;
}

.slideOverlay {
  position: relative;
}

.gQPiQM,
.sc-dmyDGi,
.gtrAwG,
.sc-eDLJxc {
  color: transparent !important;
  display: none !important;
}

.slideOverlay:before {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* .head-dist-h {
  bottom: 30%;
} */

.hero-text {
  border-radius: 1rem;
  width: fit-content;
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  .imgSlider>article>div:nth-child(2) {
    top: 35% !important;
  }
}

@media only screen and (max-width: 480px) {
  .imgSlider>article>div:nth-child(2) {
    top: 23% !important;
  }
  .sc-guDLRT,
  .faTUqF {
    width: 1.5rem !important;
    height: 1.5rem !important;
    line-height: 1.5rem !important;
  }
}